@page "/about"

<div class="row">
    <div class="col-2"></div>
    <div class="col-6">
        <h1>About Vassal Dice Analyzer</h1>
        <p>Created by <a href="https://www.longshanks.org/players/detail/?player=1050">Johan Govers</a>.</p>
        <p>The code is available under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a> at <a href="https://github.com/JohanGovers/VassalDiceAnalyzer">github</a>.</p>
        <NavLink href="">Back</NavLink>
    </div>
    <div class="col-2"></div>
</div>


